In [59]:
import pandas as pd 
import numpy as np 
import math

In [60]:
q1_before=pd.read_csv('q1_before.csv')

In [61]:
q1_before=q1_before.iloc[:,1:]
q1_before.head()

   permno  pilu        date    cumret
0       1     1  2016-03-10  1.025279
1       1     2  2016-04-21  1.002214
2       1     3  2016-08-12  1.036090
3       1     4  2016-10-21  0.996594
4       1     5  2017-03-17  0.992536

In [62]:
def set_groups(df):
    df=df.sort_values('cumret').reset_index(drop=True)
    length=df.shape[0] 
    seg_num=math.floor(length/10)
    df['group']=1
    for num in range(1,9):
        df['group'][num*seg_num:(num+1)*seg_num]=(num+1)
    df['group'][9*seg_num:length]=10
    return df
q1_before=q1_before.groupby('pilu',as_index=False).apply(set_groups).reset_index(drop=True)

In [63]:
q1_before.to_csv('q1_group.csv',index=False)

In [64]:
q1_before.group.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [65]:
q1_before.group.value_counts()

10    1764
9     1701
8     1701
7     1701
6     1701
5     1701
4     1701
3     1701
2     1701
1     1701
Name: group, dtype: int64